@{
    ViewBag.Title = "Web performance";
}
@Styles.Render("~/Content/SiteHome.css")
<h2 class="text-center">WEB ANALYZER</h2><br />
<h3 class="text-center">Great solution for site map. Thanks to the quick search of pages on the site, I can instantly create a sitemap</h3><br />
<div class="container header">
    <div class="row">
        <div class="col-md-6 header-left">
            <i class="fab fa-canadian-maple-leaf fa-3x"></i>
        </div>
        <div class="col-md-6 header-right">
            <h4>Website</h4>
        </div>
    </div>
</div>
<div class="container content">

    @using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Post))
    {
        <div class="form-content">
            <h4>Please enter a website URL for more details.</h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="url">URL</span>
                </div>
                <input type="text" class="form-control" required name="url" aria-describedby="url">
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }
</div>